@font-face {
    font-family: Poppins_Black;
    src: url("Poppins-Black.ttf");
}
@font-face {
    font-family: Poppins_Bold;
    src: url("Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins_Medium;
    src: url("Poppins-Medium.ttf");
}
@font-face {
    font-family: poppins_light;
    src: url("Poppins-Light.ttf");
}
